.PlayerSubmissionForm {
  line-height: 3rem;
}

.PlayerSubmissionForm__form {
  margin: 2rem auto 3rem auto;
}

.PlayerSubmissionForm__poem-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PlayerSubmissionForm__poem-inputs div {
  display: flex;
  align-content: center;
}

.PlayerSubmissionForm__poem-inputs label {
  display: none;
}

.PlayerSubmissionForm__input-invalid {
  background-color: lightpink;
}

.PlayerSubmissionForm__submit {
  display: flex;
  justify-content: center;
}

.PlayerSubmissionForm__submit-btn {
  flex: 0.5;
  margin: 2rem;

  padding: 0.5rem;
  border: 2px black solid;
  box-shadow: 5px 10px black;
  transition: 0.25s;
}

.PlayerSubmissionForm__submit-btn:hover {
  background-color: tomato;
}

.PlayerSubmissionFormt__input--invalid {
  background-color: #FFE9E9;
}

.PlayerSubmissionForm__input--invalid::placeholder {
  color: black;
}
